{% extends 'base.html' %}

{% block title %}單一事項{% endblock %}

{% block style %}
<style>
    .todo-style {
        background-color: rgb(176, 235, 121);
        margin: 12px auto;
        width: 500px;
        height: 200px;
        border-radius: 20px;
        font-size: 20px;
        color: rgb(5, 68, 122);
    }

    .content {
        background-color: rgb(50, 230, 140);
        text-align: center;
        padding: 6px;
        height: 90px;
    }
</style>
{% endblock %}

{% block content %}
<h1>Todo</h1>
<div class="todo-style">{{todo.created}}<br>{{todo.title}}

    <div class="content">
        <p>{{todo.text}}</p>
        <p>{{todo.date_completed}}</p>
    </div>

</div>

<form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" name="update" id="update" value="更新">
    <input type="submit" name="delete" id="delete" value="刪除">
</form>



{% endblock %}