<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <style>
        #message {
            color: red;
        }

        body {
            background-color: antiquewhite;
        }

        #navbar {
            background-color: orange;
            padding: 12px;
        }

        #container {
            text-align: center;
        }

        ul {
            list-style: None;
        }

        a {
            margin-left: 12px;
        }
    </style>
    {% block style %}
    {% endblock %}
</head>

<body>
    <div id="navbar">
        {% if user.is_authenticated %}

        <a href="{% url 'profile' %}">{{user}}的個人資訊</a>
        <a href="{% url 'todolist' %}">{{user}}的事項列表</a>
        <a href="{% url 'create_todo' %}">建立事項</a>
        <a href="{% url 'logout' %}">登出</a>

        {% else %}
        <p><a href="{% url 'login' %}">登入</a>
            <a href="{% url 'register' %}">註冊</a>
        </p>
        {% endif %}
    </div>
    <div id="container">
        {% block content %}
        {% endblock %}

        <p id="message">{{message}}</p>
    </div>
</body>

</html>